@media screen and (min-width: 767px) and (max-width: 1023px) {
  .Navbar_Container {
    .content {
      .title {
        color: red;
      }
    }
  }

  .Section-Three{
    .why {
      .content {
        .list {
          flex-direction: column;
          ul {
            margin-right: 20px;
          }
        }
      }
    }
  }
}
