.Navbar_Container {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  background-color: #1a1a1a62;
  backdrop-filter: blur(50px);

  .burgerButton {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title {
      margin-left: 15px;
    }

    .items {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 15px;

      a {
        transition: 0.3s;

        &:hover {
          color: #ccc;
        }
      }
    }

    .icons {
      margin-right: 15px;
      display: flex;
      cursor: pointer;

      a {
        margin-right: 15px;
        transition: 0.3s;

        &:hover {
          color: #ccc;
        }
      }

      input {
        border: none;
        height: 25px;
        width: 250px;
        margin-right: 15px;
        border-radius: 5px;

        &::placeholder {
          padding-left: 10px;
        }

        &:focus {
          padding-left: 5px;
          outline: none;
        }
      }
    }
  }

  &.open {
    .burgerButton {
      display: block;
    }

    .items {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      position: absolute;
      top: 50px;
      left: 0;
      width: 100%;
      background-color: #1a1a1a62;
      padding: 10px;
      
    }
  }
  
  .team-link {
    position: relative;
    a, p{
      cursor: pointer;
    }
    
  }
  .team-list {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #1a1a1a;
    padding: 10px;
    display: none;
    width: 500px; 
  
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      li {
        margin-bottom: 10px;
        flex-basis: calc(33.33% - 10px);
        box-sizing: border-box;
        a {
          color: white;
          text-decoration: none;
          cursor: pointer;
          
  
          &:hover {
            color: #ccc;
          }
        }
      }
    }
  }
  
  .team-link:hover .team-list {
    display: block;
  }
  
}
