.Home_Container {
  height: 55vh;
  background-image: url("../../img/Illustrations.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;

  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%; // Ensure .title takes full height of .Home_Container

    h1 {
      width: 60%;
      text-align: center;
      font-size: 35px;
    }
  }
}

.Section-Two {
  @import "../Components/Widget/Carousel.scss";
}

.Section-Three {
  height: 45vh;
  .why {
    display: flex;
    justify-content: center;
    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 50px;
      .list {
        display: flex;
        align-items: center;
        ul {
          margin-top: 50px;
          margin-right: 50px;
          font-weight: bold;
          font-size: 25px;
          width: 450px;
          li {
            margin-bottom: 25px;
          }
        }
      }
    }
  }
}
